@import "../../../styles/borderWidthSizing";
@import "../../../styles/borderRadiusSizing";

.landing-page {
  overflow: hidden;
}

#landing-page {
  scroll-behavior: smooth;
}

.landing-image {
  border: borderWidthSizing(xs) solid var(--grey);
  border-radius: borderRadiusSizing(xl);
}
