:root {
  --violet: #7612FA;           // violet
  --purple: #B712EF;           // purple
  --purple-2: #964CEA;         // lightPurple
  --indigo: #5E54EE;           // indigo
  --blue: #1343E3;             // darkBlue
  --blue-1: #2e75f8;
  --blue-2: #3C80FA;           // blue
  --blue-3: #30AFFF;           // skyBlue
  --blue-4: #4F77F9;           // lightBlue
  --blue-5: #3F9BB3;           // oceanBlue
  --green: #06B800;            // darkGreen
  --green-2: #00B884;          // green
  --yellow: #FFB636;           // yellow
  --orange: #FF6221;           // orange
  --red: #DA1600;              // red
  --pink: #FB2DA0;             // pink
  --white: #FFFFFF;            // white
  --grey: #8F8F8F;             // gray
  --grey-1: #e5e5ec;
  --grey-2: #f0f0f0;           // lightGray
  --black: #000000;            // black
};
