:root {
  --violet: #7612fa; // violet
  --purple: #b712ef; // purple
  --purple-2: #964cea; // lightPurple
  --indigo: #5e54ee; // indigo
  --indigo-0: #5e54ee44; // transparentIndigo
  --blue: #1343e3; // darkBlue
  --blue-0: #3c7efa44; // transparentBlue
  --blue-1: #2e75f8;
  --blue-2: #3c80fa; // blue
  --blue-3: #30afff; // skyBlue
  --blue-4: #4f77f9; // lightBlue
  --blue-5: #3f9bb3; // oceanBlue
  --green: #06b800; // darkGreen
  --green-2: #00b884; // green
  --green-2: #43d296; // lightGreen
  --yellow: #ffb636; // yellow
  --orange: #ff6221; // orange
  --orange-0: #ff622144; // transparent orange
  --red: #da1600; // red
  --pink: #fb2da0; // pink
  --white: #ffffff; // white
  --grey: #868686; // gray
  --grey-1: #e5e5ec;
  --grey-2: #f0f0f0; // lightGray
  --grey-3: #f1f1f9;
  --grey-4: #f8f3ff; // lightiVoletGrey
  --grey-5: #efe4ff; // lightiVoletGrey
  --grey-6: #8f8f8f; // mutedGrey
  --black: #000000; // black
  --black-1: #514b81; // lightBlack
  --transparent: #ffffff00; // transparent
}
