@import "../../../styles/borderRadiusSizing";
@import "../../../styles/borderWidthSizing";
@import "../../../styles/marginPaddingSizing";

.book-free-demo-form {
  border: borderWidthSizing(sm) solid var(--grey-1);
  border-radius: borderRadiusSizing(xxl);
  padding: marginPaddingSizing(xl);
  margin: 0 marginPaddingSizing(md) marginPaddingSizing(xxl) 0;
}

.book-free-demo-input {
  border-radius: borderRadiusSizing(xxl);
  padding-left: marginPaddingSizing(xl);
  padding-right: marginPaddingSizing(xl);
}

.book-free-demo-input-group {
  border-radius: borderRadiusSizing(xxl);
  padding-left: marginPaddingSizing(lg);
  padding-right: marginPaddingSizing(xl);
}

.book-free-demo-textarea {
  border-radius: borderRadiusSizing(lg);
}

.book-free-demo-submit-button {
  border-radius: borderRadiusSizing(xxl);
  &:hover {
    background-color: var(--blue-2);
  }
}

.book-free-demo-close-button {
  border: borderWidthSizing(sm) solid var(--grey-1);
  border-radius: borderRadiusSizing(xxl);
  &:hover {
    background-color: var(--white);
  }
}

.full-width {
  width: 100%;
}

.margin-auto {
  margin: auto;
}
