:root {
    --background-color: #5F8D4E;
    --font-color: #E5D9B6;
    --white: #ffffff;
    --subtitles: #555555;
    --primary: #4764cd;
    --accent-light-1: #eff2fa;
    --accent-light-2: #c8d1f0;
    --headings: #1d2025;
    --lowlight-2: #c5c6c7;
    --lowlight: #e5e5ea;
    --lowlight-1: #e5e5ea;
    --strokes: #f2f2f5;
    --background: #f7f7f6;
    --highlight-1: #ff8ba7;
    --highlight-2: #ffb26b;
    --highlight-3: #ffe7ec;
    --highlight-4: #dbefdc;
    --status-green: #4caf50;
    --status-yellow: #ffb300;
    --status-red: #f44336;
    --status-warning-1: #fffaf2;
    --rs-input-focus-border: var(--lowlight-2);
    --rs-state-focus-shadow: none;
    --rs-border-primary: var(--strokes);
    --rs-picker-value: var(--subtitles);
  }