@use './functions' as *;
@use './varibales' as *;

// Common props css
@each $size in $sizes {
    // Width classes
    .width-#{$size} {
        width: sizing($size);
    }

    // Max width classes
    .max-width-#{$size} {
        max-width: sizing($size);
    }

    // Min width classes
    .min-width-#{$size} {
        min-width: sizing($size);
    }

    // Height classes
    .height-#{$size} {
        height: sizing($size);
    }

    // Max height classes
    .max-height-#{$size} {
        max-height: sizing($size);
    }

    // Min height classes
    .min-height-#{$size} {
        min-height: sizing($size);
    }

    // Margin classes
    .margin-#{$size} {
        margin: sizing($size);
    }

    .margin-top-#{$size} {
        margin-top: sizing($size);
    }

    .margin-bottom-#{$size} {
        margin-bottom: sizing($size);
    }

    .margin-left-#{$size} {
        margin-left: sizing($size);
    }

    .margin-right-#{$size} {
        margin-right: sizing($size);
    }

    // Padding classes
    .padding-#{$size} {
        padding: sizing($size);
    }

    .padding-top-#{$size} {
        padding-top: sizing($size);
    }

    .padding-bottom-#{$size} {
        padding-bottom: sizing($size);
    }

    .padding-left-#{$size} {
        padding-left: sizing($size);
    }

    .padding-right-#{$size} {
        padding-right: sizing($size);
    }
}

// Width fit content
.width-fit-content {
    width: fit-content;
}

// Height fit content
.height-fit-content {
    height: fit-content;
}
