$sizes: (xs, sm, md, lg, xl, xxl, full); // sizes list

$colors: (primary, subtitles, headings, "white", lowlight, strokes, placeholder); // colors list

$borderStyle: (dotted, dashed, solid, double) // border style