@use '../../assets/functions' as *;
@use '../../assets/varibales' as *;
@import '../../assets/common';

// Button default style
.button{
    display: flex;
    justify-content: center;
    align-items: center;

  &:hover {
    cursor: pointer;
  }
}

// Button appearence style
.appearence-default {
    background-color: coloring(lowlight);
    border-color: coloring(headings);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: coloring(headings);
    }
}

.appearence-primary {
    background-color: coloring(primary);
    border-color: coloring(primary);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: coloring(strokes);
    }
}

.appearence-link {
    background-color: coloring("white");
    border-color: coloring("white");
    border-width: sizing(s);
    border-style: solid;

    &:hover {
        text-decoration: underline;
    }
}

.appearence-subtle {
    background-color: coloring("white");
    border-color: coloring(lowlight);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: coloring(strokes);
    }
}

.appearence-ghost {
    background-color: coloring("white");
    border-color: coloring(primary);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: coloring(lowlight);
    }
}

.loading {
    height: 15px;
    width: 15px;
    border-width: sizing(sm);
    border-style: solid;
    border-color: coloring(subtitles);
    border-top-color: coloring(primary);
    border-radius: 100%;
    display: inline-block;
    animation-name: spinLoading;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 5px;
}

@keyframes spinLoading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

// Button props css
@each $size in $sizes {
    // Border width classes
    .border-width-#{$size} {
        border-width: sizing($size);
    }

    // Border radius clsses
    .border-radius-#{$size} {
        border-radius: sizing($size);
    }
}

@each $color in $colors {

    // Color
    .color-#{$color} {
        color: coloring($color);
    }

    // Background color
    .background-color-#{$color} {
        background-color: coloring($color);
    }

    // Border Color
    .border-color-#{$color} {
        border-color: coloring($color);
    }

    // On hover background color
    .on-hover-background-color-#{$color} {
        &:hover {
            background-color: coloring($color);
        }
    }

    // On hover border color
    .on-hover-border-color-#{$color} {
        &:hover {
            border-color: coloring($color);
        }
    }

    .on-hover-color-#{$color} {
        &:hover {
            color: coloring($color);
        }
    }
}

@each $style in $borderStyle {
    // Border style
    .border-style-#{$style} {
        border-style: $style;
    }
}

.on-hover-scale-up {
    &:hover {
        scale: 1.1;
    }
}

.disabled {
    &:hover {
        cursor: no-drop;
    }
}