@use '../../assets/sizing' as *;
@use '../../assets/varibales' as *;
@import '../../assets/common';

// Button default style
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;

  &:hover {
    cursor: pointer;
  }
}

// Button appearence style
.appearence-default {
    background-color: var(--lowlight);
    border-color: var(--headings);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: var(--headings);
    }
}

.appearence-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: var(--strokes);
    }
}

.appearence-link {
    background-color: var(--"white");
    border-color: var(--"white");
    border-width: sizing(s);
    border-style: solid;

    &:hover {
        text-decoration: underline;
    }
}

.appearence-subtle {
    background-color: var(--"white");
    border-color: var(--lowlight);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: var(--strokes);
    }
}

.appearence-ghost {
    background-color: var(--"white");
    border-color: var(--primary);
    border-width: sizing(xs);
    border-style: solid;

    &:hover {
        background-color: var(--lowlight);
    }
}

.size-xs {
    height: sizing(xs);
    width: sizing(sm);
}

.size-xs {
    height: sizing(xs);
    width: sizing(md);
}

.size-md {
    height: sizing(md);
    width: sizing(lg);
}

.size-lg {
    height: sizing(lg);
    width: sizing(xl);
}

.size-xl {
    height: sizing(xl);
    width: sizing(xxl);
}

.size-xxl {
    height: sizing(xxl);
    width: sizing(xxl);
}

.size-full {
    height: sizing(full);
    width: sizing(full);
}

.loading {
    height: 15px;
    width: 15px;
    border-width: sizing(sm);
    border-style: solid;
    border-color: var(--subtitles);
    border-top-color: var(--primary);
    border-radius: 100%;
    display: inline-block;
    animation-name: spinLoading;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 5px;
}

@keyframes spinLoading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.disabled {
    &:hover {
        cursor: no-drop;
    }
}